.tiny-infobox {
  float: right;
  width: 210px;
  margin-left: 20px;
  -webkit-box-shadow: 3px 3px 10px 1px rgba(100, 100, 100, 1);
  -moz-box-shadow: 3px 3px 10px 1px rgba(100, 100, 100, 1);
  box-shadow: 3px 3px 10px 1px rgba(100, 100, 100, 1);
  padding: 20px;
}
